.aui-keyboard {
  text-align: center;
  position: relative;
  box-sizing: border-box;
}
.aui-keyboard-button{
  outline: none;
  position: absolute;
  box-sizing: border-box;
  border: 4px solid #B5B6B6;
  border-radius: 5px;
  background-color: #FDFDFD;
  cursor: pointer;
  overflow: hidden;
}
.aui-keyboard-button span {
	display: inline-block;
	width: 100%;
	font-size: 22px;
  text-align: center;
  color: #8A8A8A;
}
[class^="aui-keyboard-container-"]{
  z-index: 9999999;
}
[name='qwerty-shift'] .aui-keyboard-capital,[name='chinese-shift'] .aui-keyboard-capital{
  background-color:Orange;
}

.aui-keyboard-key-active{
  background-color: orange;
}
.characters-container{
  position: absolute;
  height: 55px;
  width:1252px;
}
.characters-container>button{
  outline: none;
  position: absolute;
  display:block;
  box-sizing: border-box;
  border: 1px solid #B5B6B6;
  background-color: #FDFDFD;
  border-radius: 1px;
  cursor: pointer;
  overflow: hidden;
}
.characters-container>button>span{
  display: inline-block;
	width: 100%;
	font-size: 22px;
  text-align: center;
  color: #8A8A8A;
}
.aui-keyboard button:not([class*='aui-keyboard-handwriting'][isdisabled='true']):active {
  background-color:Orange;
}
/* 使用属性选择器 */
[name*='qwerty']  button.aui-keyboard-english, [name*='chinese'] button.aui-keyboard-chinese,[name*='symbol'] button.aui-keyboard-symbol, [name*='write'] button.aui-keyboard-write{
  background-color: Orange;
}

[name*='qwerty']  button.aui-keyboard-english span, [name*='chinese'] button.aui-keyboard-chinese span,[name*='symbol'] button.aui-keyboard-symbol span, [name*='write'] button.aui-keyboard-write span{
  color:black;
}
/* 键盘布局 */
/* 全键盘容器布局 */
.aui-keyboard-container-default{
  margin: 0 auto;
  width: 1280px;
  background-color: #DCDDDD;
  position: fixed;
  bottom: 0;
  padding: 27px 13px;
  box-sizing: border-box;
  border: 1px solid #B5B6B6;
  margin: 0 auto;
  left:0;  
  right:0;
}

/* 数字键盘以及相关的数字键盘 */
.aui-keyboard-container-number, .aui-keyboard-container-chineseId, .aui-keyboard-container-phoneNumber, .aui-keyboard-container-numberWithoutPoint, .aui-keyboard-container-numberMinus{
  width: 334px;
  height: 366px;
  background-color: #DCDDDD;
  position: fixed;
  padding: 27px 11px;
  box-sizing: border-box;
  border: 1px solid #B5B6B6;
}
.aui-combstr-bar {
  display:inline-block;
  vertical-align: middle;
  text-align: left;
  font-size: 22px;
  color: black;
  box-sizing: border-box;
}

/* 手写板样式 */
.aui-keyboard-handwriting-right{
  border: 0;
  padding: 0;

}
.aui-keyboard-handwriting-left{
  border: 0;
  padding: 0
}

.aui-keyboard-candidate{
  border: 1px solid #B5B6B6;
  padding: 0;
}

/* 全键盘不需要的布局应该被禁用掉 */
[isdisabled="true"] {
  background-color: #DCDDDD;
}

#parent{
  display: inline-block;
  text-align: left;
  height: 55px;
  position: absolute;
  background-color: #fff;
  border: 1px solid #B5B6B6;
  overflow: hidden;
}
#parent>button{
  padding: 0;
  /* font-size: 22px; */
  margin: 0 10px;
  outline: none;
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  background-color: #FDFDFD;
  border-radius: 1px;
  cursor: pointer;
  overflow: hidden;
  top:0;
  height: 55px;
  color: #8A8A8A;
}