.aui-keyboard-key-disabled{
  color: #DCDDDD;
}

/* 手写候选词的样式定义 */
.aui-keyboard-candidate{
  border: 1px solid #B5B6B6;
  padding: 0;
}

.aui-keyboard-handwriting-right{
  border: 0;
  padding: 0;

}

.aui-keyboard-handwriting-left{
  border: 0;
  padding: 0
}