.aui-keyboard{
  margin: 0;
  padding: 0;
  border: 1px solid #B5B6B6;
  box-sizing: border-box;
  background-color: #DCDDDD;
  z-index: 9999999;
}

.aui-keyboard-bottom{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
}

.aui-keyboard-Float{
  display: block;
  position: absolute;
}

.aui-keyboard-container{
  box-sizing: border-box;
  display: block;
  margin: 0;
}

.layout-container{
  box-sizing: border-box;
  display: block;
  width: 100%;
  /* width: 1280px; */
}

.aui-keyboard-keyset {
  text-align: center;
  position: relative;
  box-sizing: border-box;
}

.aui-keyboard-container-normal{
  /* width: 1280px; */
  padding: 27px 13px;
}

/* 数字键盘以及相关的数字键盘 */
.aui-keyboard-container-number, .aui-keyboard-container-chineseId, .aui-keyboard-container-phoneNumber, .aui-keyboard-container-numberWithoutPoint, .aui-keyboard-container-numberMinus{
  /* width: 334px;
  height: 366px; */
  padding: 27px 11px;
}